@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    font-family: 'Lato', sans-serif;
}    
body {
    max-width: 800px;
    margin: auto;
    padding: 0 5px;
} 
header nav ul {
    padding-left: 0;
}
header nav {
    margin: 0 5px;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    color: black;
    text-decoration: none;
}
header nav ul li a:hover {
    text-decoration: underline;
}
li a:hover {
    background-color: #808080;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bold;
}
@media (min-width: 400px){
    header h1, nav{
        display: flex;
            }
    header nav ul{
        display: flex;
        flex: 1;
        align-items: center;
    }
    header nav ul li{
        margin-left: 8%;
    }
header div.banner {
    height: 500px;
    background-image: url(../img/ernesthemingwaywriting.jpg);
    background-position: center;
    background-size: cover; 
    display: flex;
    align-items: flex-start;
    justify-content: left;
    }   
h1 {
    font-weight: bold;
    font-size: 50px;
    text-indent: 50px;
    }    
}
h2 {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
h3 {
    font-weight: bold;
    font-size: 30px;
    align-items: center;
    font-style: italic;
    text-align: center;
}
h4 {
    font-size: 20px;
    text-align: center;
}
body {
    background-color: #66CDAA;
}

div a img{
    border-radius: 10px;
    border-radius: 10px;
    width: 100px;
    align-items: center;
    
}
.group-item {
    text-align: center;
}
div a img:first-child {
    margin-right: 70px;
}
div a img:last-child {
    margin-left: 70px;
}
section form {
    text-align: center;
}
footer {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #008B8B; 
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-weight: bold;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=reset]:hover {
    background-color: #45a049;
}
input[type=submit] {
    background-color: #0000FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-weight: bold;
} 
@media (max-width: 400px){
    .banner {
       text-align: center;
    }  
}